.container0{
    display: flex;
    flex-direction: column;
  }
  
  
  .container1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
  }
  
  .title{
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

